body {
    padding: 50px;  
    background: url("tech.jpg");
    background-size: cover;      
   
}

.title {
    font-size: 20px;
    font-family: Arial;
    text-align: center;
}

nav {
    margin: auto;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size: 20px;
  }
  nav li {
    display: inline-block
  }
  nav ul {
    list-style-type: none;
    padding: 0;
  }
  nav li {
    float: left;
    margin-left: 50px;
     }
  nav li a {
      display: block ;
      color: black;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }
   nav li a:hover {
      background-color: rgb(147, 151, 167);;
    }

    .cards {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        grid-gap: 50px;
    }
    
    .card {
        display: grid;
        grid-template-rows: max-content 200px 1fr;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
    }
    
    .card:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }

    .card img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
    
}
.elodie {
    max-width:60%;
    height: auto;
}
#aboutmeTitle {
    text-align: left;
}


#about-me {
    display: flex;
    flex-direction: row-reverse;
    text-align: left;
    }




button {
    background-color: Transparent;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
}

@media (max-width: 412px) { body {
    padding: 0px;}
}

@media  (max-width: 480px) { .links {
    font-size: 3px; }
}
    
@media (max-width: 500px) { .title {
    font-size: 10px;} 
}
@media (max-width: 500px) { #about-me {
    font-size: 13px;} 
}
@media only screen and (max-width: 500px) {
    .elodie {
      max-width: 180px;
    }
  }